<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Templates code">
    <meta keywords="template, test, code">
    <link rel="stylesheet" href="src/style.css">
    <title>Imagine Dragons</title>
</head>
<body>
    <div class="flex-cont">
        <div class="flex-item"></div>
    </div>
<!--
    <section class="mainSection first">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nobis reprehenderit laboriosam consequatur blanditiis eaque 
        expedita saepe dolores repudiandae atque iusto sunt, 
        perferendis eligendi, iste temporibus quos, alias vel! Tempora, qui.</p>
</section>
<section class="mainSection second">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam 
        tenetur deleniti aperiam incidunt quaerat adipisci sit consectetur 
        sapiente nemo veniam quidem 
        delectus fugit doloribus provident id vero, autem ab.</p>
</section>
<ul>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
</ul>
-->
</body>
</html>